# --- SEGURIDAD ---
# Ignorar el archivo de variables de entorno (Base de datos)
Servidor/.env

# --- DEPENDENCIAS ---
# No subimos las librerías, se instalan con npm install
node_modules/
Servidor/node_modules/

# --- COMPILACIÓN ---
# Ignorar carpetas de producción de React


# --- ARCHIVOS DEL SISTEMA ---
.DS_Store
Thumbs.db
*.log