.contenedorPadrePregunta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.contenedor-de-pregunta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(---color-base-4);
    width: 80%;
    height: 70vh;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem var(---color-base-3);
}

.texto-de-pregunta {
    width: 90%;
}

.contador-de-preguntas {
    text-align: center;
    font-size: var(---tamaño-de-texto-normal);
    font-family: var(---estilo-de-fuente);
    color: var(---color-base-3);
    padding-bottom: 1rem;

}

.estilo-de-pregunta {
    font-size: var(---tamaño-de-texto-normal);
    text-align: left; /* Pro-tip: Los problemas matemáticos largos se leen mucho mejor alineados a la izquierda que centrados */
    font-family: var(---estilo-de-fuente);
    margin: 10px 0;
    width: 100%;
    text-align: center;
    /* --- LA MAGIA PARA LOS SALTOS DE LÍNEA Y EL SCROLL --- */
    white-space: pre-wrap; /* ¡Esto hace que el HTML respete los "Enter" que diste en el editor! */
    max-height: 180px; /* La altura máxima que va a tener el texto antes de cortarse */
    overflow-y: auto; /* Crea la barra de scroll vertical solo si el texto es más alto que los 180px */
    padding-right: 10px; /* Le da un respirito al texto para que no se pegue contra la barra de scroll */
}

.imagen {
    width: 100%;
    height: 45%;
}

.imagen-de-pregunta {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.respuestas {
    width: 90%;
}

.bloque-de-respuestas {
    width: 100%;
    display: flex;
}

.estilo-de-respuesta {
    width: 40%;
    margin: auto;
    padding: var(---estilo-de-padding-1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: var(---tamaño-de-texto-normal);
    border: 2px solid transparent;
    border-radius: 1rem;
    background-color: var(---color-base-6);
    transition: all 250ms ease;
    cursor: pointer;
}

.estilo-de-respuesta:hover {
    scale: 110%;
    background-color: var(---color-base-5);
    color: white;
}

/* --- ESTADO SELECCIONADO --- */
.estilo-de-respuesta.seleccionada {
    scale: 115%;
    background-color: var(---color-base-5); /* Azul corporativo */
    color: white;
    box-shadow: 0rem 0rem 0.5rem var(---color-base-3);
    font-weight: bold;
}

.estilo-de-respuesta.seleccionada span {
    color: white;
}

.estilo-de-respuesta.seleccionada:hover {
    scale: 115%;
    background-color: var(---color-base-5);
}